/* Extra Small (XS) */

@media (min-width: 320px) and (max-width: 374px) {
    .responsive-height {
        height: 100vh;
        display: none;
        background: transparent;
    }

    .responsive-width-for-login{
        width: calc(96vw - 3rem);
    }

    .responsive-title{
        font-weight: bold;
        font-size: 1.8rem;
    }

    .responsive-sub-title{
        font-size: 1rem;
    }

    .responsive-login-width{
        width: calc(75vw - 1rem);
        height: 2rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .responsive-right{
        right: 10%;
    }

    .responsive-margin-top{
        margin-top: 0.5rem;
    }

    .responsive-or{
        font-size: 1rem;
        margin-top: 10px;
    }

    .font-12{
        font-size: 12px;
    }
}

@media (min-width: 375px) and (max-width: 575px) {
    .responsive-height {
        height: 100vh;
        display: none;
        background: transparent;
    }

    .responsive-width-for-login{
        width: calc(96vw - 3rem);
    }

    .responsive-title{
        font-weight: bold;
        font-size: 1.8rem;
    }

    .responsive-sub-title{
        font-size: 1rem;
    }

    .responsive-login-width{
        width: calc(75vw - 1rem);
        height: 2rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .responsive-right{
        right: 10%;
    }

    .responsive-margin-top{
        margin-top: 0.5rem;
    }

    .responsive-or{
        font-size: 1rem;
        margin-top: 10px;
    }

    .responsive-cred-size{
        font-size: 12px;
    }
}

/* Small (SM) */
@media (min-width: 576px) and (max-width: 767px) {
    .responsive-height {
        height: 100vh;
        display: none;
        background: transparent;
    }

    .responsive-width-for-login{
        width: calc(96vw - 3rem);
    }

    .responsive-title{
        font-weight: bold;
        font-size: 1.8rem;
    }

    .responsive-sub-title{
        font-size: 1rem;
    }

    .responsive-login-width{
        width: calc(75vw - 1rem);
        height: 2rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .responsive-right{
        right: 10%;
    }

    .responsive-margin-top{
        margin-top: 0.5rem;
    }

    .responsive-or{
        font-size: 1rem;
        margin-top: 10px;
    }

    .responsive-cred-size{
        font-size: 12px;
    }
}

/* Medium (MD) */
@media (min-width: 768px) and (max-width: 991px) {
    .responsive-height {
        height: 100vh;
        display: none;
        background: transparent;
    }

    .responsive-width-for-login{
        width: calc(96vw - 3rem);
    }

    .responsive-title{
        font-weight: bold;
        font-size: 2rem;
    }

    .responsive-sub-title{
        font-size: 1rem;
    }

    .responsive-login-width{
        width: calc(85vw - 1rem);
        height: 2rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .responsive-right{
        right: 5%;
    }

    .responsive-margin-top{
        margin-top: 1rem;
    }

    .responsive-or{
        font-size: 1rem;
        margin-top: 10px;
    }

    .responsive-cred-size{
        font-size: 1rem;
    }
}

/* Large (LG) */
@media (min-width: 992px) and (max-width: 1199px) {
    .responsive-height {
        height: calc(97vh - 1rem);
        background: transparent;
    }

    .responsive-width-for-login{
        width: calc(45vw - 3rem);
    }

    .responsive-title{
        font-weight: bold;
        font-size: 2rem;
    }

    .responsive-sub-title{
        font-size: 1rem;
    }

    .responsive-login-width{
        width: calc(35vw - 1rem);
        height: 2rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .responsive-right{
        right: 5%;
    }

    .responsive-margin-top{
        margin-top: 1rem;
    }

    .responsive-or{
        font-size: 1rem;
        margin-top: 10px;
    }

    .responsive-cred-size{
        font-size: 1rem;
    }
}

/* Extra Large (XL) */
@media (min-width: 1200px) {
    .responsive-height {
        height: calc(97vh - 1rem);
        background: transparent;
    }

    .responsive-width-for-login{
        width: calc(46vw - 3rem);
    }

    .responsive-title{
        font-weight: bold;
        font-size: 2rem;
    }

    .responsive-sub-title{
        font-size: 1rem;
    }

    .responsive-login-width{
        width: calc(35vw - 1rem);
        height: 2rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .responsive-right{
        right: 5%;
    }

    .responsive-margin-top{
        margin-top: 1rem;
    }

    .responsive-or{
        font-size: 1rem;
        margin-top: 10px;
    }

    .responsive-cred-size{
        font-size: 1rem;
    }
}
