
.input-style {
    border: none;
    border-bottom: 1px solid lightgray;
}


/* Extra Small (XS) */

@media (min-width: 320px) and (max-width: 374px) {
    .change-pic {
        width: 100%;
        bottom: 40px;
        position: relative;
    }

    .ques-data {
        font-family: "Nunito Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 19px;
        /* identical to box height, or 96% */

        display: flex;
        align-items: center;

        color: #000000;
    }

    .main-h{
        height: calc(90vh - 12px);
    }

    .custom-flex{
        display: flex;
        flex-direction: column;
    }

    .custom-image{
        width: 100%;
        justify-content: center;
    }

}

@media (min-width: 375px) and (max-width: 575px) {
    .change-pic {
        width: 100%;
        bottom: 40px;
        position: relative;
    }

    .ques-data {
        font-family: "Nunito Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 19px;
        /* identical to box height, or 96% */

        display: flex;
        align-items: center;

        color: #000000;
    }

    .main-h{
        height: calc(90vh - 12px);
    }

    .custom-flex{
        display: flex;
        flex-direction: column;
    }

    .custom-image{
        width: 100%;
        justify-content: center;
    }
}

/* Small (SM) */
@media (min-width: 576px) and (max-width: 767px) {
    .change-pic {
        width: 100%;
        bottom: 40px;
        position: relative;
    }

    .ques-data {
        font-family: "Nunito Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 19px;
        /* identical to box height, or 96% */

        display: flex;
        align-items: center;

        color: #000000;
    }

    .main-h{
        height: calc(90vh - 12px);
    }

    .custom-flex{
        display: flex;
        flex-direction: column;
    }
}

/* Medium (MD) */
@media (min-width: 768px) and (max-width: 991px) {
    .change-pic {
        width: 100%;
        bottom: 40px;
        position: relative;
    }

    .ques-data {
        font-family: "Nunito Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 19px;
        /* identical to box height, or 96% */

        display: flex;
        align-items: center;

        color: #000000;
    }

    .main-h{
        height: calc(90vh - 12px);
    }

    .set-bot{
        margin: 1rem 0rem;
     }

     .custom-flex{
        display: flex;
        flex-direction: column;
    }
}

/* Large (LG) */
@media (min-width: 992px) and (max-width: 1199px) {
    .change-pic {
        width: 100%;
        bottom: 40px;
        position: relative;
    }

    .ques-data {
        font-family: "Nunito Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 19px;
        /* identical to box height, or 96% */

        display: flex;
        align-items: center;

        color: #000000;
    }

    .main-h{
        height: calc(90vh - 12px);
    }

    .set-bot{
        margin: 1rem 0rem;
     }

     .custom-flex{
        display: flex;
        flex-direction: row;
    }
}

/* Extra Large (XL) */
@media (min-width: 1200px) {
    .change-pic {
        width: 100%;
        bottom: 40px;
        position: relative;
    }

    .ques-data {
        font-family: "Nunito Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 19px;
        /* identical to box height, or 96% */

        display: flex;
        align-items: center;

        color: #000000;
    }

    .main-h{
        height: calc(90vh - 12px);
    }

    .set-bot{
       margin: 1rem 0rem;
    }

    .custom-flex{
        display: flex;
        flex-direction: row;
    }
}
